block nav
    ul#slide-out.side-nav
      li
        div(class='user-view')
          div(class='background')
            img(src='images/azul_vedde.jpg')
          a(href='#!user')
            img.circle(src='images/ecomundo.jpg')
          a(href='#!name')
            span.white-text.name Sara Layana
          a(href='#!email')
            span.white-text.email sarita@ecomundo.edu.ec
      li
        a(href='#!')
          i.material-icons cloud
          | Consultar Alumno
      li
        a(href='#!') Infromación Personal
      li
        div(class='divider')
      li
        a.subheader Agendar Cita
      li
        a.waves-effect(href='#!') Cita Alumnos
    a.button-collapse(href='#', data-activates='slide-out')
      i.material-icons menu